.dashboard-container {
  background-color: #f4f4f4;
  min-height: 100vh;
  margin-left: 64px; /* Adjust for the sidebar width */
}

.dashboard-card {
  background-color: white;
  padding: 10px 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: var(--Inter, Arial, sans-serif);
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  flex-direction: column;
  min-width: 220px;
  min-height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-card > p {
  margin-bottom: 12px;
}

.dashboad-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard-stats-container {
  background-color: white;
  min-height: 430px;
  margin: 45px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .dashboad-card-container {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .dashboard-stats-container {
    margin: 20px;
  }
}
