.empdash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .empcontainer {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .action-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .dashboard-button {
    font-size: 16px;
    padding: 10px 20px;
  }
